<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset = "UTF-8">
    <meta name = viewport content "width=device-width; initial-scale=1"
    <title> First test  </title>
    <style>
    </style>
  </head>

  <body>
    <nav>
      <a href="/">Frontpage</a>
      <a href="/msg">Messages</a>
    </nav>
    {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
        {{ message }} <br>
      {% endfor %}
    {% endif %}
    <h2> Database </h2>
    <article>
    {% block content %}
    <p> something is wrong if this is visible </p>
    {% endblock content %}
    </article>
    
  </body>

</html>

